---
layout: default
title: Home
colors:
  - name: base colors
    items:
      - name: black-solid
        hex '000'
      - name: blarz
        hex: '171b2d'
      - name: white-solid
        hex: 'fff'
---

<h1>Weltstars</h1>

<br>

<img src="{{ site.baseurl }}/src/img/camera.svg" alt="camera">

<span class="box--is-framed">foo</span>

<br>

<section>
    {% for group in page.colors %}
    <div>
        <h3>{{ group.name | capitalize }}</h3>
        <ul class="color-list">
            {% for item in group.items %}
            <li class="color-list-item">
                <div class="dot" style="background:#{{ item.hex }}"></div>
                <p><code>{{ item.name }}</code></p>
                {% if item.hex %}<p>#{{ item.hex }}</p>{% endif %}
                {% if item.pretty %}<p>{{ item.pretty }}</p>{% endif %}
                {% if item.rgb %}<p>{{ item.rgb }}</p>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</section>
