---
layout: default
title: Home
colors:
  - name: base colors
    items:
      - name: blarz
        hex: '171b2d'
      - name: white-solid
        hex: 'fff'
      - name: boulder
        hex: '787878'
      - name: cod-gray
        hex: '1d1d1d'
      - name: mine-shaft
        hex: '393939'
      - name: dusty-gray
        hex: '9b9b9b'
      - name: mercury
        hex: 'e4e4e4'
      - name: outer-space
        hex: '383e42'
      - name: cararra
        hex: 'edece8'
      - name: desert-storm
        hex: 'f9f9f8'
      - name: matisse
        hex: '246ea7'
      - name: prussian-blue
        hex: '003a5a'
      - name: teal-blue
        hex: '064b71'
      - name: carrot-orange
        hex: 'f18825'
      - name: disco
        hex: '741057'
      - name: summer-green
        hex: '99b7a5'
---

<h1>Weltstars</h1>

<br>

<img src="{{ site.baseurl }}/src/img/camera.svg" alt="camera">

<span class="box--is-framed">foo</span>

<br>

<section>
    {% for group in page.colors %}
    <div>
        <h3>{{ group.name | capitalize }}</h3>
        <ul class="color-list">
            {% for item in group.items %}
            <li class="color-list-item">
                <div class="dot" style="background:#{{ item.hex }}"></div>
                <p><code>{{ item.name }}</code></p>
                {% if item.hex %}<p><code>#{{ item.hex }}</code></p>{% endif %}
                {% if item.pretty %}<p>{{ item.pretty }}</p>{% endif %}
                {% if item.rgb %}<p>{{ item.rgb }}</p>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</section>
