---
layout: default
title: Home
colors:
  - name: base colors
    items:
      - name: black
        hex: '000000'
      - name: mirage
        hex: '171b2d'
      - name: cod-gray
        hex: '1d1d1d'
      - name: white-solid
        hex: 'fff'
      - name: dusty-gray
        hex: '9c9c9c'
      - name: silver
        hex: 'bcbcbc'
      - name: alto
        hex: 'dfdfdf'
      - name: gallery
        hex: 'eeeeee'
      - name: boulder
        hex: '787878'
      - name: outer-space
        hex: '383e42'
      - name: river-bed
        hex: '485960'
      - name: cararra
        hex: 'edece8'
      - name: desert-storm
        hex: 'f9f9f8'
      - name: satin-linen
        hex: 'ede9e1'
      - name: matisse
        hex: '246ea7'
      - name: prussian-blue
        hex: '003a5a'
      - name: blue-lagoon
        hex: '00728f'
      - name: botticelli
        hex: 'c8d8e2'
      - name: spindle
        hex: 'a8c3e7'
      - name: teal-blue
        hex: '064b71'
      - name: golden-dream
        hex: 'edc31e'
      - name: carrot-orange
        hex: 'f18825'
      - name: sea-buckthorn
        hex: 'f9b033'
      - name: casablanca
        hex: 'faba50'
      - name: disco
        hex: '741057'
      - name: shiraz
        hex: 'b71336'
      - name: summer-green
        hex: '99b7a5'
      - name: tropical-rain-forest
        hex: '006650'
      - name: hippie-green
        hex: '64964b'
---

<h1>Weltstars</h1>

<br>

<img src="{{ site.baseurl }}/src/img/camera.svg" alt="camera">

<span class="box--is-framed">foo</span>

<span class="box--is-dark-bg">myBox 1</span>

<span class="box--is-bright-bg">myBox 2</span>

<br>

<section>
    {% for group in page.colors %}
    <div>
        <h3>{{ group.name | capitalize }}</h3>
        <ul class="color-list">
            {% for item in group.items %}
            <li class="color-list-item">
                <div class="dot" style="background:#{{ item.hex }}"></div>
                <p><code>{{ item.name }}</code></p>
                {% if item.hex %}<p><code>#{{ item.hex }}</code></p>{% endif %}
                {% if item.pretty %}<p>{{ item.pretty }}</p>{% endif %}
                {% if item.rgb %}<p>{{ item.rgb }}</p>{% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    {% endfor %}
</section>
