h1 {
  color: wci-named-color('welt-blue', .8);
  border-bottom: 2px solid wci-named-color('welt-orange');
  font-family: sans-serif;
}

.box--is-framed {
  color: wci-color('matisse');
  padding: 10px;
  border: 3px solid wci-named-color('channel-highlight', .4);
}

.box--is-dark-bg {
  background-color: wci-color('cod-gray');
  color: pick-color-for-bg-color(wci-color('cod-gray'));
  padding: 10px;
}

.box--is-bright-bg {
  background-color: wci-color('cararra');
  color: pick-color-for-bg-color(wci-color('cararra'));
  padding: 10px;
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid wci-color('mirage', .5);
}

.color-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.color-list-item {
  width: 100px;
  list-style-type: none;
}
