h1 {
  color: welt-color('welt-blue');
  border-bottom: 2px solid welt-color('welt-orange');
  font-family: sans-serif;
}

.box--is-framed {
  color: welt-color('welt-orange');
  padding: 10px;
  border: 3px solid welt-color('channel-highlight');
}