h1 {
  color: wci-color('welt-blue', .8);
  border-bottom: 2px solid color('welt-orange');
  font-family: sans-serif;
}

.box--is-framed {
  color: wci-color('welt-orange');
  padding: 10px;
  border: 3px solid wci-color('channel-highlight', .4);
}

.dot {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid color('blarz');
}

.color-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.color-list-item {
  width: 100px;
  list-style-type: none;
}
