// ## Helper for colors



@function color($color, $alpha) {
  $color-keys: map-keys($wci--color-palette);

  @each $key in $color-keys {
    $color-map: map-get($wci--color-palette, $key);

    @if map-has-key($color-map, $color) {
      @return rgba(map-get($color-map, $color), $alpha);
    }
  }
  @warn "No color found for `#{$color}` in `$wci--color-palette` map.";
}

@function get-welt-color($named-color) {
  @if map-has-key($wci--welt-palette, $named-color) {
    $palette-key: map-get($wci--welt-palette, $named-color);
    @return $palette-key;
  } @else {
    @warn "No color found for `#{$named-color}` in `$wci--welt-palette` map.";
  }
}



// ## Welt colors
// For named colors like 'welt-blue' or 'live-state' for a better readability.
//
// usage e.g.:
// welt-color('welt-blue')

@function wci-color($named-color, $alpha: 1) {
  @return color(get-welt-color($named-color), $alpha);
}
