// ## Helper for colors

// get color from $wci--color-palette
@function color($color, $alpha) {
  $color-keys: map-keys($wci--color-palette);

  @each $key in $color-keys {
    $color-map: map-get($wci--color-palette, $key);

    @if map-has-key($color-map, $color) {
      @return rgba(map-get($color-map, $color), $alpha);
    }
  }
  @warn "No color found for `#{$color}` in `$g-common--funkotron-palette` map.";
}

// get color key from $wci-named-color-palette
@function get-named-color($named-color) {
  @if map-has-key($wci-named-color-palette, $named-color) {
    $palette-key: map-get($wci-named-color-palette, $named-color);
    @return $palette-key;
  } @else {
    @warn "No color found for `#{$named-color}` in `$g-common--welt-palette` map.";
  }
}

// get named color as rgba()
@function wci-color($named-color, $alpha: 1) {
  @return color(get-named-color($named-color), $alpha);
}
